@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.menu a.active {
  @apply bg-blue-500 dark:bg-blue-700 text-white font-semibold;
}

.menu a {
  @apply text-gray-700 dark:text-gray-300;
}

.menu li a:hover {
  background-color: transparent;
}
